<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Arshia Aflaki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Arshia Aflaki</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="about">
        <h2>About Me</h2>
        <p>I’m a Data Scientist and Machine Learning Engineer with over two years of experience turning data into actionable insights. I specialize in generative AI and large-scale data systems, and I’m proficient in Python, TensorFlow, and PyTorch. My work with cloud platforms like AWS and Azure has enabled me to develop innovative solutions that significantly improve model accuracy and efficiency. I’m passionate about tackling complex problems, leading cross-functional teams, and continuously learning to drive impactful results and enhance user experiences.</p>
    </section>

    <footer>
        <p>© 2024 Arshia Aflaki</p>
        <p><a href="mailto:arshiaaflaki@gmail.com">Email Me</a></p>
    </footer>
</body>
</html>
